<section class="main">
  <h1>Listing sagas</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @sagas.each do |saga| %>
        <tr>
          <td><%= saga.title %></td>
          <td><%= saga.user %></td>
          <td><%= link_to 'Show', saga %></td>
          <td><%= link_to 'Edit', edit_saga_path(saga) %></td>
          <td><%= link_to 'Destroy', saga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Saga', new_saga_path %>
</section>